name: Java CI with Maven and Codecov

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '17'

      - name: Build and test with Maven
        run: mvn clean verify
        working-directory: project/Backend

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: project/Backend/target/site/jacoco/jacoco.xml
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true


